h1 {
    color: #0B4366 !important;
    font-size: 43px;
    margin-bottom: 30px !important;
}

.flex-container {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.chart-div > .p-chart{
    width: fit-content !important
}

.chart-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graficos-container{
    margin: 30px 0px;
}