h1 {
    color: #0B4366 !important;
    font-size: 43px;
    margin-bottom: 30px !important;
}

.filters-container {
    gap: 20px;
    display: flex;
    flex-direction: row;    
}

.flex-container {
    display: grid;
    grid-template-columns: 1fr;
}

.bottom-charts {
    margin-top: 30px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chart-div > .p-chart {
    width: fit-content !important
}

.chart-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graficos-container {
    margin: 30px 0px;
}

.demografico-charts{
    margin-top: 30px;
}